img {
  width: 750px;
  height: auto;
}

.img-border {
  border: double 2.5px transparent;
  border-radius: 30px;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom right, #ff3cac, #562b7c, #2b86c5);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#car-title {
  font-family: "Montserrat";
  font-size: 26px;
  display: inline-block;
  font-size: 2vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#car-details {
  font-family: "Sono", sans-serif;
  display: inline-block;
  font-size: 2vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#car-seller {
  font-family: "Labrada", serif;
  display: inline-block;
  font-size: 2vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.ctr {
  text-align: center;
  margin: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5vh;
  padding-top: 25px;
  color: white;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.fade-in-image {
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000,
      0 0 40px #000000, 0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
  }

  to {
    text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.btns {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
}

.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 250px 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
}

#action-window {
  margin-top: 70px;
  margin-left: 160px;
  color: white;
  font-size: 2vh;
}

#car-list {
  padding: 50px;
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: left;
  color: white;
  font-weight: bold;
  text-align: center;
}

#car-list h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.scroller {
  width: 200px;
  height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: transparent;
}

input[type="submit"] {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
}

input[type="submit"]:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

form {
  color: rgb(247, 242, 242);
  font-size: 2vh;
  font-style: bold;
  text-align: right;
  margin-right: 70px;
}

#submit {
  margin-top: 95px;
}

#footer {
  text-align: center;
  margin-top: 150px;
  background-color: rgba(0, 0, 0, 0.678);
}

body {
  overflow: overlay;
}

.div1 {
  background: grey;
  margin-top: 200px;
  margin-bottom: 20px;
  height: 20px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.side-bar-image:hover {
  cursor: pointer;
  box-shadow: -5px 10px 5px rgb(80, 0, 80);
}

.logo {
  text-align: center;
  font-style: italic;
  margin: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8vh;
  color: white;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.motto {
  text-align: center;
  font-style: italic;
  margin: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vh;
  padding-bottom: 15px;
  color: white;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

button {
  padding: 8px;
  cursor: pointer;
  font-family: "Sono", sans-serif;
  font-weight: bold;
}

.btn {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}

.buy-btn {
}

button {
  padding: 8px;
  cursor: pointer;
  font-family: "Sono", sans-serif;
  font-weight: bold;
}
