img {
  width: 750px;
  height: auto;
}

#car-title {
  font-family: "Montserrat";
  font-size: 26px;
  display: inline-block;
  font-size: 2vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#car-details {
  font-family: "Sono", sans-serif;
  display: inline-block;
  font-size: 2vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#car-seller {
  font-family: "Labrada", serif;
  display: inline-block;
  font-size: 2vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.ctr {
  text-align: center;
  margin: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5vh;
  padding-top: 25px;
  color: white;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000,
      0 0 40px #000000, 0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
  }
  to {
    text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.btns {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
}

.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 250px 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
}

#action-window {
  margin-top: 70px;
  margin-left: 160px;
  color: white;
  font-size: 2vh;
}

#car-list {
  padding: 50px;
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: left;
  color: white;
}

.scroller {
  width: 200px;
  height: 800px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: transparent;
}

input[type="submit"] {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
}

input[type="submit"]:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

button {
  width: fit-content;
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 5px;
  border: 2.5px solid #e0e1e4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  /*font-family: "Poppins", sans-serif;*/
  font-family: "Sono", sans-serif;
  font-weight: bold;
}

button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 20px -18px;
}

button:active {
  transform: scale(0.95);
}

button:disabled:active {
  transform: scale(1);
}

button:disabled:hover {
  background-color: white;
  box-shadow: 0px 0px 20px -20px;
}

form {
  color: rgb(247, 242, 242);
  font-size: 2vh;
  font-style: bold;
  text-align: right;
  margin-right: 70px;
}

#submit {
  margin-top: 95px;
}
